{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <!-- bootstrap flexbox -->
    <div class="d-flex flex-wrap justify-content-around edit-container">
        {% for bookmark in bookmarks %}
            {% if bookmark['visible'] %}
                <div class="book-item mb-3 mr-2">
                    <h5>{{bookmark['category']}}</h5>
                    <ul class='resources'>
                        {% for row in bookmark['rows'] %}
                            <!-- href="javascript:" makes it a fake anchor -->
                            <li><a href="javascript:" data-toggle='tooltip'
                                title="{{row['tooltip']}}" data-placement='right'
                                data-html='true' id="{{row['bid']}}" 
                                onclick="edit(this)">
                                {{row['short_title']}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- end bookitem -->
            {% endif %}
        {% endfor %}
    </div> <!-- end flexbox-->
{% endblock %}

{% block scripts %}
<script src="{{url_for('edit_bp.static', filename='edit.js')}}"></script>
{% endblock %}