{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}
<form action="{{url_for('newbm_bp.create')}}" method="post" onsubmit="">
    <div class="form-group">
        <select name='known' class="form-control bg-secondary text-white" id="known">
            <option disabled selected value="">Categories</option>
            {% for cat in categories %}
                <option value="{{cat}}"> {{cat}} </option>
            {% endfor %}
        </select> 
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" 
        name="category" placeholder="(New) Category" type="text"
        id = 'category' required onchange="">
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" 
        name="url" placeholder="(paste URL)" type="text"
        required onchange="">
    </div>
    <div class="form-group">
        <input class="form-control" name="title" placeholder="title" 
        type="text" required>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="4"  name='description' 
        placeholder = "description" id=""></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Bookmark</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='modal_class.js')}}"></script>
<script src="{{url_for('newbm_bp.static', filename='create.js')}}"></script>
{% endblock %}