nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}


form {
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 50%;

    /* center contents */
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.resources{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.book-item h5{
    margin-left: 5px;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.resources li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1px 6px;
    width: 220px;
}

.resources li a:hover{
    color: white;
    background-color: navy;
}


.tooltip-inner{
    font-size: 14px;
    white-space: pre-wrap;
    text-align: justify;
} 