nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}


nav.navbar{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.nav-link {
    color: whitesmoke;
}

.dropdown-menu a:hover{
    background-color:blue;
}

@media screen and (min-width: 700px){
    nav li > a{
      font-size: 18px;
    }
  }

/* */
body{
    /* dark slate https://hookagency.com/website-color-schemes/ */
    background-color:#1d1e22; /*#161748;*/
    color: lightgreen;
}
/*  */
form {
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 50%;

    /* center contents */
}

/* change password */

/* center button: this is always hard :-) */
#btn-chg{
    display: block;
    margin: 0 auto;
}

/*    */
main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/*     */
.resources{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.book-item h5{
    margin-left: 5px;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.resources li a{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif; /* 'Open Sans Condensed', sans-serif;*/
    padding: 1px 6px;
    width: 220px;
}

.resources li a:hover{
    color: black;
    background-color: whitesmoke;
}

/*  */
.tooltip-inner{
    font-size: 14px;
    white-space: pre-wrap;
    text-align: justify;
} 