*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/static/images/stefan-steinbauer-HK8IoD-5zpg-unsplash-minecratf-min.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;    
}

/* Navbar */
.navbar{
    position: sticky;
    top: 5px;
    z-index: 10;
}
nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

.flashed{
    position: sticky;
    top: 5em;
    z-index: 5;
}

.flashed .alert{
    color: black;
    font-variant: small-caps;
    font-weight: bold;
}

.dropdown-menu a:hover{
    background-color:#200f21;
}

/* see: https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap */
.navbar-custom{
    background-color:#200f21;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: wheat;
} 

/* see:https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 216, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: wheat;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: lightsteelblue;
}

@media screen and (min-width: 700px){
    nav li > a{
      font-size: 18px;
    }
  }

/* Global Settings */

body{
    
    background-color: #160f30;   
}

/* center button */
#btn-chg{
    display: block;
    margin: 0 auto;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


/* Forms */

form {
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 50%;

    /* center contents */
}

.form-group select{
    background-color:#200f21 !important;
}

/* .resources in: index.html, search.html,  */
.resources{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0px 5px 8px 5px;
    /* background-color: black; */
}


.book-item h5{
    margin: 2px 5px;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 3px 5px;
    color: lightsteelblue;
}

.resources li a{
    display: inline-block;
    text-decoration: none;
    color:cyan;
    font-size: 17px;
    font-family: 'Nanum Gothic', sans-serif; /* 'Open Sans Condensed', sans-serif;*/
    padding: 1px 6px;
    width: 250px;
    font-variant: small-caps;
}

.edit-container .resources li a,
.remove-container .resources li a
 {
    color: lightgreen;
}

/* see: https://css-tricks.com/snippets/html/glyphs/ */
.resources li a::before{
    content: '\2329';
    padding-right: 2px;
}

.resources li a::after{
    content: '\232a';
    padding-left: 2px;
}

.resources li a:hover{
    color: black;
    background-color: whitesmoke;
}

/* Tooltips */

.tooltip-inner{
    font-size: 14px;
    white-space: pre-wrap;
    text-align: justify;
} 

/* View Menu */

.view-hide{
    padding-left: 50px ;
}
/* see: https://css-tricks.com/snippets/html/glyphs/ */

.mode-view{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.status{
    padding-right: 10px;
}

.dropdown-menu{
    background-color:#200f21 !important;
}

.dropdown-menu .dropdown-item:hover{
    color: #200f21 !important;
    background-color: whitesmoke !important;
}

/* Grid View */

.wrapper-box{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 20px;
}

.wrapper-btn{
    color: black;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.wrapper-btn a{
    text-decoration: none;
    color: black;
}

.wrapper-btn:hover,
.wrapper-btn:hover a{
    background-color: darkslategray;
    color: whitesmoke;
}

.wrapper-box img{
    width: 100%; 
    height: 230px;
    border: 1px lightsteelblue solid;
    background-size: cover;
    margin-top: -15px;
}

/* Import */

.spinner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
