{% extends 'layout.html' %}

{% block title %} Change password {% endblock %}

{% block main %}
    <!-- Change password -->

    <div class="form-group mt-5">
        <button class="btn btn-primary" type="button" 
        id="btn-chg">Change Password</button>
    </div>
    <form action="/change" method="post" id="change"
       onsubmit="" hidden>
        <div class="form-group">
            <input class="form-control" name="oldpassword" 
            placeholder="(Old) password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="newpassword"  id='new'
            placeholder="(New) password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" id='conf'
            placeholder="Confirmation" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
{% block scripts %}
<script src="/static/hide_class.js"></script>
<script src="/static/modal_class.js"></script>
<script src="/static/change.js"></script>
{% endblock %}

