{% extends 'layout.html' %}

{% block title %} Change password {% endblock %}

{% block main %}
    <!-- Change password -->

    <div class="form-group mt-5">
        <button class="btn btn-primary" type="button" 
        id="btn-chg">Change Password</button>
    </div>
    <form action="/change" method="post" id="change"
       onsubmit="event.preventDefault();checkPass();">
        <div class="form-group">
            <input class="form-control" name="oldpassword" 
            placeholder="(Old) password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="newpassword"  id='new'
            placeholder="(New) password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" id='conf'
            placeholder="Confirmation" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $('#change').hide();
        var HIDDEN = true;
        var button = document.getElementById('btn-chg');
        button.onclick = function(){
            if (HIDDEN) {
                $('#change').show();
                HIDDEN = false;
            }
            else {
                $('#change').hide();
                HIDDEN = true;
            }
        };
    </script>
    <script>
        function checkPass(){
            var form = document.querySelector('form');
            var newpass = document.getElementById('new');
            var confpass = document.getElementById('conf');
            if (newpass.value !== confpass.value){
                alert("New password and confirmation don't match");
                newpass.value= '';
                confpass.value = '';
                newpass.focus();
            }
            else form.submit();
        };

        // initializes tooltips in bootstrap 4
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle-second="tooltip"]').tooltip();
        });

        window.onload = function(){
        let input = document.querySelector('input');
        input.onkeyup = function(){
            let term = input.value;
            //remove spaces from both sides
            term = term.trim();
            //console.log('length of term', term.length);
            if (term){
                /*
                Synchronous API call means Javascript thread will stop further execution 
                of code until this Ajax request gets resolved. Since the main thread is 
                blocked waiting for request to get completed, your browser will stop responding 
                to events (it will become unresponsive). Had to do it, because I was having
                problems with new async get requests without the previous one had been 
                resolved. This is due to expensive database computations done in the
                'search' route.
                see: https://medium.com/@varunon9/what-can-go-wrong-if-you-make-synchronous-ajax-calls-using-jquery-understanding-event-loop-in-9b597c7a87a1
                */
                $.ajax({
                url: 'search/' + term,
                method: 'get',
                async: false, // notice this line
                success: function(data, status){
                    document.querySelector('#search').innerHTML = data;
                }
                });
            }
            else{
                document.querySelector('#search').innerHTML = ''; 
               //$("#search").html('');
            }
        };
    }
    </script>
{% endblock %}

