{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <!-- bootstrap flexbox -->
    <div class="d-flex flex-wrap justify-content-around">
        {% for bookmark in bookmarks %}
            <div class="book-item mb-3 mr-2 border border-light">
                <h5>{{bookmark['category']}}</h5>
                <ul class='resources'>
                    {% for row in bookmark['rows'] %}
                        <!-- href="javascript:" makes it a fake anchor -->
                        <li><a href="javascript:" data-toggle='tooltip'
                            title="{{row['tooltip']}}" data-placement='right'
                            data-html='true' id="{{row['bid']}}" 
                            onclick="edit(this)">
                            {{row['short_title']}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- end bookitem -->
        {% endfor %}
    </div> <!-- end flexbox-->
{% endblock %}

{% block scripts %}
    <script>
        // initializes tooltips in bootstrap 4
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle-second="tooltip"]').tooltip();
        });

        function clearContainer(){
                $(".container").html('');
            }
        function edit(anchor){
            //alert('Post id:' + anchor.id + '\n' 
                // + 'Type of id: ' + typeof anchor.id);
            post_id = anchor.id;
            // transfer to url
            window.location.assign('edit_id/' + post_id);
            //$.get('edit_id/' + post_id, function(data){
                //$("[data-toggle='tooltip']").tooltip('hide');
                //document.querySelector(".container").innerHTML = data;
                //document.documentElement.innerHTML = data;
            //});
        };

        window.onload = function(){
            let input = document.querySelector('input');
            input.onkeyup = function(){
                let term = input.value;
                //remove spaces from both sides
                term = term.trim();
                //console.log('length of term', term.length);
                if (term){
                    /*
                    Synchronous API call means Javascript thread will stop further execution 
                    of code until this Ajax request gets resolved. Since the main thread is 
                    blocked waiting for request to get completed, your browser will stop responding 
                    to events (it will become unresponsive). Had to do it, because I was having
                    problems with new async get requests without the previous one had been 
                    resolved. This is due to expensive database computations done in the
                    'search' route.
                    see: https://medium.com/@varunon9/what-can-go-wrong-if-you-make-synchronous-ajax-calls-using-jquery-understanding-event-loop-in-9b597c7a87a1
                    */
                    $.ajax({
                    url: 'search/' + term,
                    method: 'get',
                    async: false, // notice this line
                    success: function(data, status){
                        document.querySelector('#search').innerHTML = data;
                    }
                    });
                }
                else{
                    document.querySelector('#search').innerHTML = ''; 
                //$("#search").html('');
                }
            };
        }
    </script>
{% endblock %}