{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <!-- bootstrap flexbox -->
    <div class="d-flex flex-wrap justify-content-around">
        {% for bookmark in bookmarks %}
            <div class="book-item mb-3 mr-2 border border-light">
                <h5>{{bookmark['category']}}</h5>
                <ul class='resources'>
                    {% for row in bookmark['rows'] %}
                        <li><a href="{{row['url']}}" target="_blank" data-toggle='tooltip'
                            title="{{row['tooltip']}}" data-placement='right'
                            data-html='true'>
                            {{row['short_title']}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- end bookitem -->
        {% endfor %}
    </div> <!-- end flexbox-->
{% endblock %}
{% block scripts %}
{% endblock %}