<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
          rel="stylesheet" defer>

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <!--<link href="/static/favicon.ico" rel="icon"> -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" defer>
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer>
        </script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" 
           rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/tooltip_init.js" defer></script>
        <script src="/static/search.js" defer></script> 
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-md  navbar-dark border m-3">
            <a class="navbar-brand" href="/">BM</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" 
                 class="navbar-toggler" data-target="#navbar" data-toggle="collapse" 
                 type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <form class="form-inline " method='GET' action='' id="form-search"> 
                        <input autocomplete="off" autofocus placeholder="Search" 
                        class = "form-control mr-sm-2 mt-2" type="text" name="bookmark" 
                        id = 'search-input' required>
                        <!--
                        <button type="submit" class="btn btn-primary  mr-sm-2 mt-2" 
                        onclick="return false;"> 
                        Search
                        </button> -->
                        <!-- return false here is essential, because  after execution of the event handler,
                        i.e. of evalForm, the default behaviour of refreshing the page, takes place
                        returning false simply says to the browser that the button has not been clicked -->
                    </form>
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/create"
                            data-toggle='tooltip' title="New Bookmark" data-placement='bottom'>
                            New</a></li>
                        <li class="nav-item"><a class="nav-link" href="/edit" 
                            data-toggle='tooltip' title="Edit Bookmarks" 
                            data-placement='bottom'>Edit</a></li>
                        <li class = "nav-item dropdown"> 
                            <a  class="nav-link dropdown-toggle"  href="#"
                                id="navbardrop" data-toggle="dropdown"> 
                                Remove</a>
                            <div class="dropdown-menu bg-dark"> 
                                <a class= "dropdown-item text-white" href="/rem_bookmark"
                                    data-toggle='tooltip' title="Delete Bookmark" data-placement='top'> 
                                    Bookmark </a> 
                                <a class= "dropdown-item text-white" href="/rem_cat"
                                  data-toggle='tooltip' title="Delete Category and its Bookmarks" 
                                  data-placement='top'> Category </a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/change"
                            data-toggle='tooltip' title="Change Password" 
                            data-placement='bottom'>Password</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center m-3" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5" id="main">
            <div id="search"></div>
            {% block main %}{% endblock %}
            {% block scripts %}{% endblock %}
        </main>
    </body>

</html>
