<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" defer>
        <!-- jQuery library -->
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer>
        </script>
        <!-- Popper JS -->
        <script 
             src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer>
        </script>
        <!-- Latest compiled JavaScript -->
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer>
        </script>
    
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" 
           rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        
        <!-- https://favicon.io/emoji-favicons/ -->
        <link href="{{url_for('static', filename='favicon-bookmark.ico')}}" rel="icon">
        <!-- <link href="/static/favicon-bookmark.ico" rel="icon"> -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- <link href="/static/styles.css" rel="stylesheet"> -->
        <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">
        <!-- local scripts -->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md  navbar-custom border m-3">
            <a class="navbar-brand" href="/">BM</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" 
                 class="navbar-toggler" data-target="#navbar" data-toggle="collapse" 
                 type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <form class="form-inline " method='GET' action='' id="form-search"> 
                        <input autocomplete="off" autofocus placeholder="Search" 
                        class = "form-control mr-sm-2 mt-2" type="text" name="bookmark" 
                        id = 'search-input' required>
                    </form>
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class = "nav-item dropdown"> 
                            <a  class="nav-link dropdown-toggle"  href="#"
                                id="navbardrop" data-toggle="dropdown"> 
                                <span data-toggle='tooltip' title="Bookmark Actions" data-placement='bottom'>
                                    Bookmarks
                                </span></a>
                            </a>
                            <div class="dropdown-menu"> 
                                <a class="dropdown-item text-white" href="{{url_for('newbm_bp.create')}}"
                                    data-toggle='tooltip' title="New Bookmark" data-placement='bottom'>
                                    New</a>
                                <a class="dropdown-item text-white" href="{{url_for('edit_bp.edit')}}" 
                                    data-toggle='tooltip' title="Edit Bookmarks" 
                                    data-placement='bottom'>Edit</a>
                                <a class= "dropdown-item text-white" 
                                    href="{{url_for('remove_bp.rem_bookmark')}}"
                                    data-toggle='tooltip' title="Delete Bookmark" data-placement='top'> 
                                    Remove Bookmark </a> 
                                <a class= "dropdown-item text-white" 
                                    href="{{url_for('remove_bp.rem_cat')}}"
                                data-toggle='tooltip' title="Delete Category and its Bookmarks" 
                                data-placement='top'> Remove Category </a>
                            </div>
                        </li>
                        
                        <li class = "nav-item dropdown"> 
                            <a  class="nav-link dropdown-toggle"  href="#"
                                id="navbardrop" data-toggle="dropdown"> 
                                <span data-toggle='tooltip' title="Select Categories" data-placement='bottom'>
                                    View
                                </span></a>
                            <div class="dropdown-menu"> 
                                {% if session.grid_view %}
                                   <a href="{{url_for('view_mode')}}" class="dropdown-item text-white">
                                    <div class="mode-view">
                                      <i class="material-icons mr-4 ml-2">border_all</i>
                                      <span class="">
                                        Grid/List
                                      </span>
                                    </div>
                                {% endif %}
                                {% if session.list_view %}
                                    <a href="{{url_for('view_mode')}}" class="dropdown-item text-white">
                                      <div class="mode-view">
                                        <i class="material-icons mr-4 ml-2">format_list_bulleted</i>
                                        <span class="">
                                          Grid/List
                                        </span>
                                      </div>
                                    </a>
                                {% endif %}
                                    <a class= "dropdown-item text-white" 
                                        href="{{url_for('view_all')}}"> 
                                        <div class="mode-view">
                                            <i class="material-icons mr-4 ml-2">visibility</i>
                                            <span class="">
                                              View All
                                            </span>
                                        </div>
                                    </a>
                                    <a class= "dropdown-item text-white" 
                                        href="{{url_for('hide_all')}}"> 
                                        <div class="mode-view">
                                            <i class="material-icons mr-4 ml-2">visibility_off</i>
                                            <span class="">
                                              Hide All
                                            </span>
                                        </div> 
                                    </a>
                                {% for item in menu %}
                                    <a class= "dropdown-item text-white" 
                                    href="{{url_for('view', cat_name=item['name'])}}"> 
                                    <div class="mode-view">
                                        <i class="material-icons mr-4 ml-2">{{item['status']}}</i>
                                        <span class="">
                                            {{item['menu_item']}}
                                        </span>
                                    </div>
                                    </a> 
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('auth_bp.change')}}"
                            data-toggle='tooltip' title="Change Password" 
                            data-placement='bottom'>Password</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('auth_bp.logout')}}">Log Out</a></li>
                    </ul>
                    <script src="{{url_for('static', filename='tooltip_init.js')}}" defer></script>
                    <script src="{{url_for('static', filename='search.js')}}" defer></script> 
                    <script src="{{url_for('static', filename='view.js')}}" defer></script>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('auth_bp.register')}}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('auth_bp.login')}}">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header class="flashed">
                <div class="alert alert-primary border text-center m-3" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5" id="main">
            <div id="modal-div"></div>
            <div id="search"></div>
            {% block main %}{% endblock %}
            {% block scripts %}{% endblock %}
        </main>
    </body>

</html>
