{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <!-- bootstrap flexbox -->
    <div class="d-flex flex-wrap justify-content-around">
        {% for bookmark in bookmarks %}
            <div class="book-item mb-3 mr-2 border border-light">
                <h5>{{bookmark['category']}}</h5>
                <ul class='resources'>
                    {% for row in bookmark['rows'] %}
                        <!-- href="javascript:" makes it a fake anchor -->
                        <li><a href="javascript:" data-toggle='tooltip'
                            title="{{row['tooltip']}}" data-placement='right'
                            data-html='true' id="{{row['bid']}}" 
                            onclick="edit(this)">
                            {{row['short_title']}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- end bookitem -->
        {% endfor %}
    </div> <!-- end flexbox-->
{% endblock %}

{% block scripts %}
<script src="/static/modal_class.js"></script>
<script>
    function edit(anchor){
        let container = document.getElementById('modal-div');
        let modal = new Prompt('');
        modal.setPrompt(`Are you sure you want it removed?`);
        container.innerHTML = modal.getPrompt();
        modal.firePrompt();
        // this is not ideal, but simple. Improve later, when
        // a better idea comes
        yesBtn = document.getElementById('modal-yes');
        yesBtn.onclick= function(){
            post_id = anchor.id;
            $.get('rem_book_id/' + post_id, function(data){
                $("[data-toggle='tooltip']").tooltip('hide');
                // data is the index route: '/'
                window.location.assign(data);
            });
        } 
    }
</script>
{% endblock %}