{% extends "layout.html" %}

{% block title %}
   Remove Category
{% endblock %}

{% block main %}
    <form action="/rem_cat_name" method="post" id="form-cat">
        <div class="form-group">
            <select name='known' class="form-control bg-secondary text-white" 
            id="known" onchange="">
                <option disabled selected value="">Categories</option>
                {% for cat in categories %}
                    <option value="{{cat}}"> {{cat}} </option>
                {% endfor %}
            </select> 
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" 
            name="category"  type="text" id = 'category' required>
        </div>
        <button class="btn btn-primary" type="submit">Remove</button>
    </form>
{% endblock %}

{% block scripts %}
<script src="/static/modal_class.js"></script>
<script src="/static/rem_cat.js"></script>
{% endblock %}